# Ciência de Dados com aplicações em Python

___


Esse notebook é uma extensão da aula aplicada. É interessante que o aluno leia todos os comentários e execute os exercícios propostos, inclua seu código no local correto e determinado com "SEU CÓDIGO AQUI".

# Variáveis

In [1]:
## Variáveis são úteis para guardar e trablhar informações de forma dinâmica
## para criar uma variável em python, basta dar uma nome a ela e colocar seu conteúdo depois do sinal de igual conforme exemplo abaixo.

x = 10

In [2]:
print(x)

10

In [3]:
### Variáveis em python podem guardar várias coisas !!!
    
## Strings ##
    
minha_string = 'Eu estou aprendendo python'

## Números inteiros (int) ##
    
meu_int = 155

## Valores flutuantes (floats) ##

meu_primeiro_float = 5.554785485

## Valores booletanos ##

meu_primeiro_valor_booleano = True

## Listas ##

minha_primeira_lista = [10,12,13,14,15]

## Dicionários ##

meu_primeiro_dicionario = {'nome':'Nasser', 'idade':29}

## Tuplas ##

minha_primeira_tupla = (15,12)

### Exércicio!!!!

Hora de praticar! Use a função 'print' para acessar os valores das variáveis criadas acima. Desafio: altere os valores das variáveis na célula acima, rodea-a novamente, e printe os novos valores.

In [4]:
## SEU CÓDIGO AQUI ##


## SEU CÓDIGO AQUI ##

### Atribuição múltipla

Podemos criar mais de uma variável ao mesmo usando uma vírgula para separa os nomes e os conteúdos!! Veja o exemplo abaixo.

In [5]:
primeira, segunda, terceira, quarta, quinta = 1, 2, 3, 4, 5

In [6]:
print(quinta)

5

### Operações Matemáticas

Podemos executar operações com variáveis que contêm o mesmo tipo e até de tipos diferentes, porém as possibilidades aqui não são infinitas. O resultado de operações também podem ser atribuídos a variáveis.

In [7]:
## criando uma variável com o resultado da soma

a = 5+5

In [8]:
print(a)

10

In [9]:
## criando uma variável com o resultade uma divisão

b = 1/558

In [10]:
print(b)

0.0017921146953405018

In [11]:
## Usando as duas variáveis acima (x e y) para gerar uma divisão

a / b

5580.0

Em python utilizamos os seguinte símbolos como operadores matemáticos: <br>

| Operador | Descrição                 | Exemplo |
|----------|---------------------------|---------|
| +        | soma                      | a + b   |
| -        | subtração                 | a - b   |
| *        | multiplicação             | a * b   |
| /        | divisão                   | a / b   |
| %        | módulo (resto da divisão) | a % b   |
| **       | potência                  | a ** b  |
| //       | parte inteira da divisão  | a // b  |

### Exércicio!!!!

Usando as variáveris dos exemplos acima execute todas as operações possíveis (dica: use a tabela como cola).

In [12]:
## SEU CÓDIGO AQUI ##


## SEU CÓDIGO AQUI ##

ATENÇÃO!!!

Valores booleanos (True e False) são registrados pelo python, respectivamente, como 1 e 0. Então as operações utilizando esse tipo de dados seguirão sendo executadas utilizando os valores númericos. São raras as situações que utilizamos soma de valores inteiros com valores booleanos, mas fica a dica.

In [13]:
True + 1

2

In [14]:
False + 3

3

In [15]:
True + True

2

In [16]:
True - False

1

### Limitações e operação com strings

Nem todos os tipos de dados podem ser alvos de operações. Veja os exemplos abaixos.

In [17]:
minha_string

'Eu estou aprendendo python'

In [18]:
x

10

Vamos tentar somar uma string (texto) com um valor inteiro (int).

In [19]:
minha_string + x

TypeError: can only concatenate str (not "int") to str

Algo de interessante de notar é que podemos trabalhar com multiplacação com strings.

In [20]:
minha_string

'Eu estou aprendendo python'

In [21]:
minha_string * 2

'Eu estou aprendendo pythonEu estou aprendendo python'

In [22]:
minha_string * 100

'Eu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo pythonEu estou aprendendo python'

### Exércicio!!!!

Crie novas variáveis e tente executar as operações matemáticas comuns utilizando elas. Desafio: tente misturar e criar varios tipos de dados diferentes.

In [23]:
## SEU CÓDIGO AQUI ##


## SEU CÓDIGO AQUI ##

___

## Estrutura de dados

## Listas

Listas em python podem ter tipos de dados dentro delas. São definidas pelo símbolo ```[]``` e tem seus objetos internos divididos por vírgula. As listas podem ser alteradas e são objetos ITERÁVEIS.

In [24]:
## criando uma lista

minha_lista = [1,2,3,4,5,6,7,8,9,10]

In [25]:
minha_lista

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
## criando uma lista com vários tipos de dados

num = 12

segunda_lista = [1,2,3.3,['a','b','c'],num]

In [27]:
segunda_lista

[1, 2, 3.3, ['a', 'b', 'c'], 12]

Podemos acessar valores em locais específicos de uma lista utilizando também o símbolo ```[]```

In [28]:
## selecionando somente o primeiro valor da lista

segunda_lista[0]

1

In [29]:
## acessando o quarto valor da lista

segunda_lista[3]

['a', 'b', 'c']

In [30]:
## acessando o primeiro valor da lista contida na quarta posição de segunda_lista

segunda_lista[3][0]

'a'

Valores dentro das listas podem ser alterados e redefinios, basta selecionar a posição e indicar o novo conteúdo.

In [31]:
## verificando os valores originais de segunda_lista

segunda_lista

[1, 2, 3.3, ['a', 'b', 'c'], 12]

In [32]:
## modificando o último valor de segunda_lista

segunda_lista[-1] = 'lasanha não é café da manhã'
segunda_lista

[1, 2, 3.3, ['a', 'b', 'c'], 'lasanha não é café da manhã']

As lista possuem métodos que podem ser acessados utilizando ```.```

Esses métodos são imporantes e ajudam no trabalho com listas.

In [33]:
## verificando segunda_lista

segunda_lista

[1, 2, 3.3, ['a', 'b', 'c'], 'lasanha não é café da manhã']

In [34]:
## Adicionando um novo valor ao final de segunda_lista

segunda_lista.append(19)

In [35]:
## verificando novamente segunda_lista

segunda_lista

[1, 2, 3.3, ['a', 'b', 'c'], 'lasanha não é café da manhã', 19]

O ```.append``` serve justamente para adicionar novos valores ao final das listas.

In [36]:
## extendendo o tamanho de segunda_lista, adicionando uma lista ao final dela

segunda_lista.extend(['suco de laranja','ovos','bacon'])
segunda_lista

[1,
 2,
 3.3,
 ['a', 'b', 'c'],
 'lasanha não é café da manhã',
 19,
 'suco de laranja',
 'ovos',
 'bacon']

O ```.extend``` pode ser sempre utilizado quando precisamos concatenar duas listas, adicionando os valores da segunda ao final da primeira.

In [37]:
## adicionando um valor no meio da lista

segunda_lista.insert(1,1.5)

In [38]:
segunda_lista

[1,
 1.5,
 2,
 3.3,
 ['a', 'b', 'c'],
 'lasanha não é café da manhã',
 19,
 'suco de laranja',
 'ovos',
 'bacon']

In [39]:
## removendo um valor da lista

segunda_lista.remove(1.5)
segunda_lista

[1,
 2,
 3.3,
 ['a', 'b', 'c'],
 'lasanha não é café da manhã',
 19,
 'suco de laranja',
 'ovos',
 'bacon']

In [40]:
## remove um valor e o retorna

segunda_lista.pop(3)

['a', 'b', 'c']

In [41]:
segunda_lista

[1,
 2,
 3.3,
 'lasanha não é café da manhã',
 19,
 'suco de laranja',
 'ovos',
 'bacon']

In [42]:
## procurando um valor na lista

segunda_lista.index('ovos')

6

In [43]:
## contando quantos valores temos na lista

segunda_lista.count(10)

0

In [44]:
segunda_lista.count(19)

1

In [45]:
## definindo uma nova lista

nova_lista = [False,30,40,-20,1,2,40,998,-23,-33,-6,88.6,25.3,-12.3,-11.235]

In [46]:
## organizando a nova lista

nova_lista.sort()
nova_lista

[-33, -23, -20, -12.3, -11.235, -6, False, 1, 2, 25.3, 30, 40, 40, 88.6, 998]

In [47]:
## organizando a lista na ordem reversa

nova_lista.sort(reverse=True)
nova_lista

[998, 88.6, 40, 40, 30, 25.3, 2, 1, False, -6, -11.235, -12.3, -20, -23, -33]

In [48]:
## não métodos, porém super importantes!!!

len(nova_lista)

15

In [49]:
min(nova_lista)

-33

In [50]:
max(nova_lista)

998

### Exércicios!!!!

1 - Crie uma lista 'a_list' com os seguintes valores: 1, hello, [1,2,3] e True.

In [153]:
## SEU CÓDIGO AQUI ##


## SEU CÓDIGO AQUI ##

2 - Ache o valor em 'a_list' que esteja no índice -1

In [154]:
## SEU CÓDIGO AQUI ##


## SEU CÓDIGO AQUI ##

3 - Encontre os valores em 'a_list' que estejam nos indices 1,2 e 3

In [155]:
## SEU CÓDIGO AQUI ##


## SEU CÓDIGO AQUI ##

4 - Junte as seguinte listas A=[1,2,3,4,5] e B=[11,12,13,14,15]

In [156]:
## SEU CÓDIGO AQUI ##


## SEU CÓDIGO AQUI ##

5 - Crie uma lista de listas 'list_list' que tenha os valores de 'a_list', 'A' e 'B'

In [157]:
## SEU CÓDIGO AQUI ##


## SEU CÓDIGO AQUI ##

6 - Qual o tamanho de 'list_list'?

In [158]:
## SEU CÓDIGO AQUI ##


## SEU CÓDIGO AQUI ##

7 - Adicione o valor 125 a 'list_list'

In [159]:
## SEU CÓDIGO AQUI ##


## SEU CÓDIGO AQUI ##

## Tuplas

Tuplas são sequências IMUTÁVEIS. São bem parecidas com listas porem são iniciadas com os símbolos ```()```. Elas podem receber qualquer tipo de objeto e são iteráveis.

In [51]:
## definido tupla1

tupla1 = (1,2,3,4,5,6,7,'a','b')

In [52]:
## tuplas não aceitam qualquer tipo de alteração de valores já definidos

tupla1[-1] = 0

TypeError: 'tuple' object does not support item assignment

In [53]:
## somando tuplas

(1,2,3) + (4,5,6)

(1, 2, 3, 4, 5, 6)

In [54]:
## indexing

tupla1[0]

1

In [55]:
## slicing

tupla1[:2]

(1, 2)

In [56]:
## slicing a cada dois valores

tupla1[::2]

(1, 3, 5, 7, 'b')

As formas de slicing demonstradas acima também funcionam para listas e strings.

In [57]:
lista = [1,2,3,4,5,6,7,8,9,10]

In [58]:
lista[::2]

[1, 3, 5, 7, 9]

In [63]:
minha_string[::3]

'Eeoaeeoyo'

In [64]:
## definido outra tupla

tupla_complexa = (1,2,3,4,('a','b','c'))

In [65]:
## acesando valores dentro da tupla

tupla_complexa[-1][0]

'a'

In [67]:
## podemos transformar uma lista em tupla

tuple(lista)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Exércicios!!!!

10 - Crie a tupla 'gnr' com os seguintes valores: rock, metal, sertanejo, pop, lo-fi e chillwave, nessa ordem.

In [159]:
## SEU CÓDIGO AQUI ##


## SEU CÓDIGO AQUI ##

11 - Qual o terceiro valor da tupla 'gnr'?

In [159]:
## SEU CÓDIGO AQUI ##


## SEU CÓDIGO AQUI ##

12 - Qual o índice de lofi?

In [159]:
## SEU CÓDIGO AQUI ##


## SEU CÓDIGO AQUI ##

13 - Crie uma tupla de tuplas com as seguintes tuplas (15,30), (20,40) e (25,50). Qual o índice do valor 40?

In [159]:
## SEU CÓDIGO AQUI ##


## SEU CÓDIGO AQUI ##

14 - Acesse a tupla 'gnr' a cada dois valores, qual gêneros musicais aparecem?

In [159]:
## SEU CÓDIGO AQUI ##


## SEU CÓDIGO AQUI ##

## Sets

Sets sao coleções de itens de forma desordenada, são parcialmente imutáveis e todos os valores do set são únicos. Podemos criar um set a partir da função nativa ```set()```.

In [76]:
lista_longa = [1,1,1,1,1,1,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,4,4,4,4,4,4,4,4,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,6,6,6,6,6,6,6,6,7,7,7,7,7,7,8,8,8,8,8,8,9,9,9]
len(lista_longa)

93

In [77]:
## criando um set
meu_set = set(lista_longa)
meu_set

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [78]:
## adicionando elementos ao set

meu_set.add(15)
meu_set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 15}

### Dicionários

Dicionários em python é uma estrutura de dados caracterizada pelo seguinte símbolo ```{}```. Dicionários são iteráveis, desordenados, mutáveis e indexáveis. Todo dicionário em python possui chaves e valores. Os dicionários podem receber qualquer tipo de dados como valor.

In [73]:
## criando dicionários

receita_strogonoff = {'coxao_mole':600,'manteiga':'1 colher_de_chá','cebola':1,'mostarda_dijon':'1 colher de sobremesa','cachaça':200,
                     'pimenta-do-reino':1,'cogumelo':'1 xícara','cream-cheese':1}

In [74]:
## adicionando itens ao dicitonário

receita_strogonoff['sal'] = 'um pouco'
receita_strogonoff

{'coxao_mole': 600,
 'manteiga': '1 colher_de_chá',
 'cebola': 1,
 'mostarda_dijon': '1 colher de sobremesa',
 'cachaça': 200,
 'pimenta-do-reino': 1,
 'cogumelo': '1 xícara',
 'cream-cheese': 1,
 'sal': 'um pouco'}

In [75]:
## alterando um valor

receita_strogonoff['coxao_mole'] = '500 gramas'
receita_strogonoff

{'coxao_mole': '500 gramas',
 'manteiga': '1 colher_de_chá',
 'cebola': 1,
 'mostarda_dijon': '1 colher de sobremesa',
 'cachaça': 200,
 'pimenta-do-reino': 1,
 'cogumelo': '1 xícara',
 'cream-cheese': 1,
 'sal': 'um pouco'}

In [77]:
## indexing

receita_strogonoff['mostarda_dijon']

'1 colher de sobremesa'

In [78]:
## deletando um valor

del receita_strogonoff['cebola']
receita_strogonoff

{'coxao_mole': '500 gramas',
 'manteiga': '1 colher_de_chá',
 'mostarda_dijon': '1 colher de sobremesa',
 'cachaça': 200,
 'pimenta-do-reino': 1,
 'cogumelo': '1 xícara',
 'cream-cheese': 1,
 'sal': 'um pouco'}

In [79]:
## acessando todas as chaves

receita_strogonoff.keys()

dict_keys(['coxao_mole', 'manteiga', 'mostarda_dijon', 'cachaça', 'pimenta-do-reino', 'cogumelo', 'cream-cheese', 'sal'])

In [80]:
## acesssando todos os valores

receita_strogonoff.values()

dict_values(['500 gramas', '1 colher_de_chá', '1 colher de sobremesa', 200, 1, '1 xícara', 1, 'um pouco'])

In [81]:
## jogar todos os valores fora

receita_strogonoff.clear()
receita_strogonoff

{}

### Exércicios!!!!

15 - Crie o dicionário 'mcu' com os seguintes dados, 'Homem de Ferro':2008, 'Homem de Ferro 2':2010, 'Homem de ferro 3':2013, 'Avengers: Endgame':2019.

In [159]:
## SEU CÓDIGO AQUI ##


## SEU CÓDIGO AQUI ##

16 - No dicionário 'mcu' quais são os valores?

In [159]:
## SEU CÓDIGO AQUI ##


## SEU CÓDIGO AQUI ##

17 - No dicińario 'mcu' quais são as chaves?

In [159]:
## SEU CÓDIGO AQUI ##


## SEU CÓDIGO AQUI ##

18 - Adicione ao dicionário 'mcu' os seguintes filmes: 'Avengers Infinity War':2018, 'Avengers Age of Ultron':2015.

In [159]:
## SEU CÓDIGO AQUI ##


## SEU CÓDIGO AQUI ##

19 - Delete o filme 'Homem de Ferro 3' do dicionário 'mcu'

In [159]:
## SEU CÓDIGO AQUI ##


## SEU CÓDIGO AQUI ##

20 - Limpe o dicionário 'mcu'

In [159]:
## SEU CÓDIGO AQUI ##


## SEU CÓDIGO AQUI ##

___

## Condições lógicas

Condições lógicas em python se aplicam utilizando os operadores lógicos abaixo.

| Operador | Descrição      | Exemplo |
|----------|----------------|---------|
| ==       | igual          | a == b  |
| !=       | diferente      | a != b  |
| >        | maior          | a > b   |
| <        | menor          | a < b   |
| >=       | maior ou igual | a >= b  |
| <=       | menor ou igual | a <= b  |

In [91]:
## Sinal de igualdade

'abc' == 'ABC'

False

In [92]:
## Sinal de igualdade

1 == 2

False

In [93]:
## Sinal de Igualdade

[1,2,3] == [1,2,3]

True

In [97]:
## Sinal de Igualdade

[1,2,3] == (1,2,3)

False

In [98]:
## Sinal de diferente

[1,2,3] != (1,2,3)

True

In [99]:
## Sinal de diferente

[1,2,3] != [1,2,3]

False

In [100]:
## Sinal de diferente

{'num':[1,2,3]} != [1,2,3]

True

In [101]:
## Sinal de diferente

'bacon' != 'ruim'

True

In [103]:
## Sinal de maior

10 > 15

False

In [104]:
## Sinal de maior 2

'bacon' > 15

TypeError: '>' not supported between instances of 'str' and 'int'

In [105]:
## Sinal de menor

10 < 50

True

In [106]:
## Sinal de menor

10 < 'bacon'

TypeError: '<' not supported between instances of 'int' and 'str'

In [107]:
## Sinal de maior ou igual

10 >= 10

True

In [108]:
## Sinal de menor ou igual 1

10 <= 9

False

## IF

Usamos a palavra ```if``` para avaliar uma condição e executamos o código logo abaixo dela caso a condição seja verdadeira.

In [109]:
salario = 1000

In [111]:
if salario > 500:
    print('Hora de gastar!')
else:
    print('É melhor deixar essa compra para depois!')

Hora de gastar!

In [112]:
preco = 300

if salario > 500:
    print('Hora de gastar!')
    
    if preco > 500:
        print('Voce não tem dinheiro pra isso')
    
    else:
        print('Relógio Comprado')
    
else:
    print('É melhor deixar essa compra para depois!')

Hora de gastar!
Relógio Comprado

In [113]:
tempo = 'nublado'

if tempo == 'nublado':
    print('netflix and chill')
elif tempo == 'sol':
    print('parque da cidade')
elif tempo == 'chuva':
    print('dormir')
elif tempo == 'temporal':
    print('corra')
else:
    print('sei não')

netflix and chill

In [114]:
## shorthand if

a = 100
b = 1.5

print('A maior que B!') if a/10 > b else print('B maior que A!')

A maior que B!

O ```shorthand if``` tem a seguinte anatomia:

<função a ser executada caso True> IF <condição> ELSE <função a ser executada caso False>

### Exércicios!!!!

Crie um programa que calcule IMC de dada altura e peso e imprima em qual categoria a pessoa está.

In [1]:
## SEU CÓDIGO AQUI ##


## SEU CÓDIGO AQUI ##

Voce é um jogador de tênis. Para decidir se você vai treinar hoje você deve avaliar duas coisas: o tempo e a temperatura. Crie um programa para saber se você deve ou não treinar hoje de acordo com as seguintes especificações:

    Tempo: chuvoso -> não jogar
    Tempo: ensolarado ou nublado -> jogar
    Temperatura maior ou igual a 15 graus e tempo ensolarado ou nublado -> jogar
    Temperatura menor que 15 graus e tempo ensolarado ou nublado -> não jogar

Se o dia estiver ensolarado e a temperatura for de 16 graus. Você irá ou não jogar?

In [2]:
## SEU CÓDIGO AQUI ##


## SEU CÓDIGO AQUI ##

Escreva um programa que receba o nome de um mês em letras minúsculas, o retorno desse programa deve ser o seguinte: se o mês começar com a letra 'a' ele deverá avaliar a segunda letra do nome do mês, se a segunda letra for 'b' ele deverá printar 'abril', se a segunda letra for 'g' ele deverá printar 'agosto'. Em todos os outros casos ele deverá printar 'mês desconhecido'.

In [2]:
## SEU CÓDIGO AQUI ##


## SEU CÓDIGO AQUI ##

Construa usando um programa que represente a seguinte árvore abaixo:

![arvore](imgs/arvore.png)

Quando x = 'bacon', y = [1,2,3,4,5,6,7,8,9,10,'a','b','c','d','e','f','g','h'] e z = 15. Qual valor o programa deverá printar?

Quando x = 'bacon', y = [1,2,3,4], e z = 20. Qual valor o programa deverá printar?

Quando x='couxeiro', y = [[1,2,3,4,5],[1,2,3,4,5],[1,2,3,4,5]] e z = 21. Qual valor o programa deverá printar?

In [2]:
## SEU CÓDIGO AQUI ##


## SEU CÓDIGO AQUI ##

___

## Estrutura de repetição

### for

Conseguimos executar iterar sobre objetos python utilizando o ```for```.

In [1]:
## Exemplo de loop for

lista = [1,2,3,4,5,6]

for item in lista:
    x = item ** 2
    print(x)

1
4
9
16
25
36

In [2]:
## Loop for com strings

verdade_universal = 'lasanha não é café da manhã'

for palavra in verdade_universal:
    print(palavra)

l
a
s
a
n
h
a

n
ã
o

é

c
a
f
é

d
a

m
a
n
h
ã

In [4]:
## mais exemplo

for palavra in verdade_universal.split():
    print(palavra.upper())

LASANHA
NÃO
É
CAFÉ
DA
MANHÃ

In [5]:
## loop for em com condições lógicas


lista = [1,2,3,4,5,6,7,8,9,10]

for numero in lista:
    if numero % 2 == 0:
        print(f'O número {numero} é par!')
    else:
        print(f'O número {numero} é impar!')

O número 1 é impar!
O número 2 é par!
O número 3 é impar!
O número 4 é par!
O número 5 é impar!
O número 6 é par!
O número 7 é impar!
O número 8 é par!
O número 9 é impar!
O número 10 é par!

Podemos passar a palavra reservada ```break``` para quebrar a execução de um for loop.

In [7]:
## usando break

lista = [1,2,3,4,5,6,7,8,9,10]

for numero in lista:
    if numero % 5 == 0:
        print(f'Achei! {numero}')
        print('Parei!')
        break
    else:
        print('Ainda não!')

Ainda não!
Ainda não!
Ainda não!
Ainda não!
Achei! 5
Parei!

In [12]:
chocolates = {'chocolate1':{'id':1,'cor':'azul'},
              'chocolate2':{'id':2,'cor':'amarela'},
              'chocolate3':{'id':3,'cor':'amarela'},
              'chocolate4':{'id':4,'cor':'azul'},
              'chocolate5':{'id':5,'cor':'verde'},
              'chocolate6':{'id':6,'cor':'azul'}}


caixa_azul = []
caixa_amarela = []

for chocolate in chocolates.values():
    if chocolate['cor'] == 'azul':
        caixa_azul.append(chocolate)
    elif chocolate['cor'] == 'amarela':
        caixa_amarela.append(chocolate)
    else:
        continue

In [13]:
print(caixa_azul)
print(caixa_amarela)

[{'id': 1, 'cor': 'azul'}, {'id': 4, 'cor': 'azul'}, {'id': 6, 'cor': 'azul'}]
[{'id': 2, 'cor': 'amarela'}, {'id': 3, 'cor': 'amarela'}]

### Compreensão de listas

Compreensão de listas são uma forma de trabalhar com listas e loops for de uma forma simples e considerada pythonica.

In [15]:
ls = [1,2,3,4,5,6,7,8,9,10]

[x**2 for x in ls]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
for x in ls:
    print(x**2)

1
4
9
16
25
36
49
64
81
100

As duas funções acima fazem basicamente a mesma coisa, porém a primeira retorna uma lista e a segunda não. Porém em termos de funcionalidade ambas são iguais. A anatomia de uma compreensão de lista é a seguinte:

[<bloco de código> FOR <variável> IN <objeto iterável>]

In [17]:
ls2 = ['bacon','é','bom','demais']

[x.upper() for x in ls2]

['BACON', 'É', 'BOM', 'DEMAIS']

In [18]:
[x.upper() for x in ls2 if x[0]=='b']

['BACON', 'BOM']

### while

O ```while``` loop executa todo um bloco de código até que sua condição seja considerada falsa ou que ele seja parado utilizando a palavra reservada ```break```.

In [21]:
## usando um while

i = 10

while i < 100:
    print(i,'é menor do que 100.')
    i += 10

10 é menor do que 100.
20 é menor do que 100.
30 é menor do que 100.
40 é menor do que 100.
50 é menor do que 100.
60 é menor do que 100.
70 é menor do que 100.
80 é menor do que 100.
90 é menor do que 100.

In [22]:
i

100

In [25]:
## Usando while com break

i = 10

while i < 100000:
    print(i)
    
    if i >= 100:
        break
    
    i += 10

10
20
30
40
50
60
70
80
90
100

### Exércicios!!!!

Construa um programa que dê print em todos os quadrados dos valores de 0 a 10;

In [2]:
## SEU CÓDIGO AQUI ##


## SEU CÓDIGO AQUI ##

Construa um programa que encontre a soma de todos os valores pares de 0 a 10;

In [2]:
## SEU CÓDIGO AQUI ##


## SEU CÓDIGO AQUI ##

Construa um programa que receba três numeros (a,b,c) e encontre quantos valores entre 'a' e 'b' são divisivéis por 'c' (divisível significa que o resto da divisão deve ser zero). Utilize a seguinte sequência (10,500,23)

In [2]:
## SEU CÓDIGO AQUI ##


## SEU CÓDIGO AQUI ##

Construa um programa para ter o seguinte output:

1 ---- 99<br>
2 ---- 98<br>
3 ---- 97<br>
4 ---- 96<br>
.<br>
.<br>
.<br>
99 ---- 1<br>

In [2]:
## SEU CÓDIGO AQUI ##


## SEU CÓDIGO AQUI ##

Construa um programa que receba um input e tenha o seguinte comportamento:

input = 5

output:

+<br>
++<br>
+++<br>
++++<br>
+++++<br>

In [2]:
## SEU CÓDIGO AQUI ##


## SEU CÓDIGO AQUI ##

Itere sobre a lista abaixo e crie uma nova lista com todos os nomes em letras maisculuas e com underline ao invés de espaços. Dica: utilize compreensão de listas.

lista_nomes = ['Geralt de Rívia','Yennefer de Vengerberd','Triss Marigold','Emhyr var Emreis','Jaskier o bardo']

In [2]:
## SEU CÓDIGO AQUI ##


## SEU CÓDIGO AQUI ##

___

## Definiçao de funções

Funções são blocos de código que só rodam quando são chamados. Informação pode ser inputada nas funções utilizando parâmetros. Um função pode ter vários parâmetros. A utilização de funções é algo importante na ciência de dados, principalmente para automatização de atividades de feature engineering, por exemplo. Toda função em python é criada utilizando a palavra reservada ```def```.

In [27]:
## definindo a função hello

def hello(name):
    print('Hello,',name)

In [28]:
hello('nasser')

Hello, nasser

In [ ]:
## utilizando a função hello com loop for

ls = ['nasser','joão','maria']

for name in ls:
    hello(name)

In [29]:
## definindo a função square

def square(number):
    print(number**2)

In [30]:
## usando a função square com loops for

for number in range(10,21):
    square(number)

100
121
144
169
196
225
256
289
324
361
400

In [33]:
## definindo uma função que recebe uma lista

def ls_square(lista):
    print([x**2 for x in lista])

In [34]:
ls_square([1,2,3,4,5])

[1, 4, 9, 16, 25]

Funções podem receber mais de um parâmetro, basta que estes sejam definidos ao criar a função.

In [35]:
## criando uma função com vários parâmetros

def power(numero,potencia):
    print(numero**potencia)

In [36]:
power(25,3)

15625

In [37]:
## o nome do parâmetro pode ser utilizado e quando o fazemos, não precisamos nos preocupar com a ordem

power(potencia=3,numero=15)

3375

In [38]:
## o parâmetro pode receber um valor padrão que só será alterado se for explicitamente chamado

def potencia(numero,potencia=2):
    print(numero**potencia)

In [39]:
## chamando potencia sem definir a potencia

potencia(10)

100

In [41]:
## chamando potencia alterando o valor da potencia

potencia(10,3)

1000

Funções em python podem retornar valores que podem ser guardados em variáveis, para isso, devemos usar o 'return'. Veja diferença abaixo.

In [43]:
def cube(numero):
    numero**3
    
def ret_cube(numero):
    return numero**3

In [44]:
## Veja que ao executar a função abaixo ela não retorna nada apesar de processamento ter sido gasto para executar a função.

cube(10)

In [46]:
## Se tentarmos guardar a saída da função cube em uma variável o seguinte comportamento acontece

cube10 = cube(10)

In [47]:
## Verificando o valor guardado dentro da variável cube10

print(cube10)

None

In [48]:
## Usando a função com return o comportamento muda entregando uma valor ao final da sua execução, esse valor por ser guardado ou não em alguma variável.

ret_cube(10)

1000

In [49]:
## Usando a função com return o valor pode ser guardado em um variável e acessado depois

returned_value = ret_cube(10)

In [51]:
## Verificando o valor guardado dentro da variável returned_value

print(returned_value)

1000

### lambda

A função lambda é uma forma pythonica de escrever uma função. Ela também é chamada de função anônima porque, normalmente, não se atribui nenhum nome a ela. Pode ser definida utilizando a palavra reservada ```lambda```. Sua anatomia:

LAMBDA <parâmetro> : <código a ser executado>

obs.: funções lambda não necessitam de 'return'.

In [60]:
lambda x:x+2

In [62]:
(lambda x:x+2)(5)

7

In [63]:
add_two = lambda x:x+2

In [64]:
add_two(5)

7

### Exércicios!!!!

Escreva uma função python que receba uma lista e separe os múltiplos de 5. Ao final ela retorna a soma de todos os valores na lista de multiplos de 5. Escreva a função de tal forma que ela só possa receber listas e não outros tipos de dados.

In [2]:
## SEU CÓDIGO AQUI ##


## SEU CÓDIGO AQUI ##

Escreva uma função para verificar se uma palavra é um palíndromo.

In [2]:
## SEU CÓDIGO AQUI ##


## SEU CÓDIGO AQUI ##

Escreva uma função que receba uma lista crie um dicionário com a contagem dos valores dessa lista.

In [2]:
## SEU CÓDIGO AQUI ##


## SEU CÓDIGO AQUI ##

Escreva uma função que receba uma lista de listas, itere sobre cada lista, some seus valores, gere uma segunda lista e descubra o desvio padrão dela.

entrada : [[12,12,5,6,3,6,8,5,5,5],[3,3,3,3,4,4,15,89,20,20],[15,15,15,20,30,35,35,35,15,15],[10,10,10,10,15,15,15,15],[5,5,2,2],[8,8,89,89,898,1000]]

In [2]:
## SEU CÓDIGO AQUI ##


## SEU CÓDIGO AQUI ##

____

## Funções built-in

O python tem vários funções built-in, ou seja, funções que já veem na linguagem e não precisam ser importadas. Elas podem ser vistas em: https://docs.python.org/3/library/functions.html

### zip

A função zip junta os valores de dois iteráveis valor a valor.

In [69]:
x = [1,2,3,4,5,6,7,8,9,10]
y = [10,20,30,40,50,60,70,80,90,100]

for a,b in zip(x,y):
    print(a,b)

1 10
2 20
3 30
4 40
5 50
6 60
7 70
8 80
9 90
10 100

In [70]:
## a função zip gera tuplas que podem ser acessadas

for a in zip(x,y):
    print(a)

(1, 10)
(2, 20)
(3, 30)
(4, 40)
(5, 50)
(6, 60)
(7, 70)
(8, 80)
(9, 90)
(10, 100)

In [72]:
## dando unzip nem uma série de tuplas (basta usar *)

x = [(1,'a'),(2,'b'),(3,'c'),(4,'d'),(5,'e')]

list(zip(*x))

[(1, 2, 3, 4, 5), ('a', 'b', 'c', 'd', 'e')]

### enumerate

Enumerate cria um contador para cada iteração de um iterável.

In [73]:
ls = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s']

list(enumerate(ls))

[(0, 'a'),
 (1, 'b'),
 (2, 'c'),
 (3, 'd'),
 (4, 'e'),
 (5, 'f'),
 (6, 'g'),
 (7, 'h'),
 (8, 'i'),
 (9, 'j'),
 (10, 'k'),
 (11, 'l'),
 (12, 'm'),
 (13, 'n'),
 (14, 'o'),
 (15, 'p'),
 (16, 'q'),
 (17, 'r'),
 (18, 's')]

In [74]:
ls = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s']

list(enumerate(ls,start=1))

[(1, 'a'),
 (2, 'b'),
 (3, 'c'),
 (4, 'd'),
 (5, 'e'),
 (6, 'f'),
 (7, 'g'),
 (8, 'h'),
 (9, 'i'),
 (10, 'j'),
 (11, 'k'),
 (12, 'l'),
 (13, 'm'),
 (14, 'n'),
 (15, 'o'),
 (16, 'p'),
 (17, 'q'),
 (18, 'r'),
 (19, 's')]

### Counter

Counter é uma classe do pacote collections do python que está pronta para contar a quantidade de valores de um iterável.

In [79]:
from collections import Counter

In [82]:
lista_longa = ['a','a','a','a','a','a','a','a','a','a','a','a','a','b','b','b','b','b','b','b','b','b','b','b','b','b','b','b','b','b','b','b','b','b','c','c','c','c','c','c','c','c',
              'c','c','c','d','d','d','d','d','d','d','d','d','d','d','d','d']

c = Counter(lista_longa)

In [89]:
string_lorem = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porttitor ultrices enim sit amet finibus. Curabitur gravida ultricies blandit. Donec commodo lorem quis nisi pretium, nec egestas odio dignissim. Phasellus quam metus, lacinia quis sodales nec, congue quis ante. Nullam mollis eros lacus, sed tincidunt libero egestas sed. Cras porta gravida felis, sit amet faucibus turpis ultricies ut. Duis in ex viverra, aliquam justo vel, consectetur ex.'

c = Counter(string)
c

Counter({'L': 1,
         'o': 21,
         'r': 24,
         'e': 36,
         'm': 16,
         ' ': 66,
         'i': 45,
         'p': 6,
         's': 37,
         'u': 29,
         'd': 12,
         'l': 20,
         't': 31,
         'a': 27,
         ',': 8,
         'c': 17,
         'n': 17,
         'g': 7,
         '.': 8,
         'C': 3,
         'b': 6,
         'f': 3,
         'v': 5,
         'D': 2,
         'q': 5,
         'P': 1,
         'h': 1,
         'N': 1,
         'x': 2,
         'j': 1})

In [90]:
## update 

c.update('Lorem')
c

Counter({'L': 2,
         'o': 22,
         'r': 25,
         'e': 37,
         'm': 17,
         ' ': 66,
         'i': 45,
         'p': 6,
         's': 37,
         'u': 29,
         'd': 12,
         'l': 20,
         't': 31,
         'a': 27,
         ',': 8,
         'c': 17,
         'n': 17,
         'g': 7,
         '.': 8,
         'C': 3,
         'b': 6,
         'f': 3,
         'v': 5,
         'D': 2,
         'q': 5,
         'P': 1,
         'h': 1,
         'N': 1,
         'x': 2,
         'j': 1})

In [93]:
c['d']

12

### range

A função ```range``` retorna um objeto iterável com um intervalo numérico passado em seu argumentos. É possível também determinar o passo da função.

In [94]:
range(20)

range(0, 20)

In [95]:
range(1,20)

range(1, 20)

In [97]:
for i in range(20):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [98]:
for i in range(0,20,2):
    print(i, end=' ')

0 2 4 6 8 10 12 14 16 18

In [100]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

___